<div class="">
  <div class="row m-0 col-12 visualize-component position-absolute">
    <div class="col-1 d-flex m-0 p-0">
      <div>
        <a class="nav-link has-badge px-1 d-flex pb-0" href="javascript:void(0)" (click)="openAllFilters()">
          <span class="material-icons mt-1 ml-0 color-white">tune</span>
          <p class="mt-1 ml-2 color-white">Customize</p>
        </a>
        <ucp-filters [showFilterOptions]="showFilterOptions" [loaders]="loaders"
        [(filterPinned)]="filterPinned" [tabs]="tabs" [selectedTab]="selectedTab"
        [dfmFilterData]="dfmFilterData" [displayFilterData]="displayFilterData"
        (pinFilterOut)="pinFilter()"
        (switchTabsOut)="switchTabs($event)"
        (emitDFMFieldOut)="emitDFMField($event)"
        (emitDFMDisplayFieldOut)="emitDFMDisplayField($event)"
        (scrollEmitterOut)="emitOnScroll($event)"
        (showFiltersOut)="showFilters()" 
        (clearAllFiltersOut)="clearAllFilters()"
        (showMoreOpt)="showMoreOpt($event)"
        ></ucp-filters>
      </div>
    </div>


    <div class="hz-scroll">
      <span id="left-arrow" *ngIf="visibleFilters?.length" class="material-icons-outlined arrow-left"
        (click)="arrowScroll(true)">
        navigate_before
      </span>
      <div id="top-head" class="col-9 d-flex top-header-filters cursor-pointer p-0 m-0">
        <div *ngFor="let eachItem of visibleFilters">
          <div id="vis-fil" class="w-auto vis-filters mt-2 mr-2 px-2" *ngIf="eachItem['label']"
            (click)="openFilter(eachItem['key'])">
            <p class="vis-label pt-1" title="{{eachItem.label}}">{{eachItem.label}}</p>
            <p class="vis-value pt-1" title="{{eachItem['tooltip']}}"> : {{eachItem.value}}</p>
          </div>
        </div>
      </div>
      <span id="right-arrow" *ngIf="visibleFilters?.length" class="material-icons-outlined arrow-right"
        (click)="arrowScroll()">
        navigate_next
      </span>
    </div>

    <div class="col-1 row m-0 mt-1" >
      <div class="col-6 p-0 mt-2 m-0">
        <ng-container *ngIf="loaders?.showMap">
          <div class="spinner-border ml-2" [ngStyle]="{color: '#fff'}" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-container>
      </div>
      <div class="col-6 p-0 m-0" *ngIf="userRolePermissions?.share">
        <a class="nav-link has-badge d-flex  px-1" href="javascript:void(0)" data-toggle="dropdown" (click)="clickout($event)"
          aria-haspopup="true" aria-expanded="false">
          <span class="material-icons-outlined color-white mt-1">
            share
          </span>
          <p class="text inter-regular mt-1 color-white"> Download</p>
        </a>

        <div class="dropdown-menu dropdown-menu-rich w-25 dropdown-menu-right share border_0_px">

          <div class="dropdown-scroll perfect-scrollbar">
            <a href="javascript:void(0)" class="dropdown-item" (click)="share('csv')">
              <div class="icon">
                <img src="assets/images/csv.svg" alt="">
              </div>
              <div class="dropdown-item-body">
                <p class="text"> CSV</p>
              </div>
            </a>
            <!-- <a href="javascript:void(0)" class="dropdown-item" (click)="share('pdf')">
              <div class="icon">
                <img src="assets/images/pdf.svg" alt="">
              </div>
              <div class="dropdown-item-body">
                <p class="text"> PDF </p>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="plot_map visualize-component-plot-map {{!filterPinned && showFilterOptions ? '' : 'open-unpinned'}} {{filterPinned && showFilterOptions? 'ml-20' : ''}}">
    <ng-container *ngIf="!filters?.survey">
      <div class="maps-component wrapper" style="height: 100%; width: 100%;">
        <div id="map-container" class="map-main-div" style="height: 100%;">
          <ucp-maps></ucp-maps>
        </div>
        <ng-container *ngTemplateOutlet="handlerAndTable"></ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="filters?.survey">
      <div class="maps-component wrapper" style="height: 100%; width: 100%;">
        <div id="map-container" class="map-main-div" style="height: 100%;">
          <ucp-maps *ngIf="mapData" [tooltipOptions]="displayOptions['tooltipParams']" style="height: 100%"
            [showLegends]="displayOptions['mapParams']?.show_legends"
            [showMarkers]="displayOptions['mapParams']?.show_chainages"
            [showLabels] = "displayOptions['mapParams']?.show_pipeline_segment"
            [selectedLegends] = "displayOptions['selectedLegends']"
            [showPolylines]="displayOptions['mapParams']?.show_survey" [mapOptions]="mapOptions" [legends]="legends"
            [mapData]="mapData" [mapType]="true" [showTilt]="true" (visualTypeEmitter)="onVisualTypeChange($event)"
            (legendEmitter)="emittedLegend($event)"></ucp-maps>
        </div>
        <ng-container *ngTemplateOutlet="handlerAndTable"></ng-container>
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="workSpaceData">
  <ucp-workspace [(workSpaceData)]="workSpaceData" [activeTab]="activeTab" [footArrowDropDown]="footArrowDropDown"
    (workSpaceEmitter)="workSpaceEmitterData($event)"></ucp-workspace>
</div>

<ng-template #handlerAndTable>
  <div class="handler handler-item"  data-direction="vertical" [ngStyle]="{'bottom' : !aggridData ? '0px' : tableHeight}">
    <img class="drag-handle-svg invert" src="assets/svgs/drag-handle.svg" alt="">
  </div>
  <div class="table-main-div" style="width: 100%;position:absolute;bottom: 0;"  [ngStyle]="{'height' : !aggridData ? '0px' : tableHeight}">
    <ng-container *ngIf="(aggridData && aggridData?.columnDefs?.length) && !refreshingTable && mapOptions.selectedVisualType === 'table'">
      <ucp-ag-grid-table [agGridOptions]="aggridData" [infiniteScroll]="aggridData?.infiniteScroll || false" [enableAutoResize]="enableAutoResize || false"
        [theme]="theme" [Height]="'100%'" [tableState]="tableState"></ucp-ag-grid-table>
    </ng-container>
    <ng-container
      *ngIf="(!aggridData || !aggridData?.columnDefs?.length) && mapOptions.selectedVisualType === 'table'">
      <div class="h-100 w-100 no-data-label background-white">
        <em class="inter-medium" *ngIf="!aggridData; else noColumnsData">
          Select a survey to visualize the data.
        </em>
        <ng-template #noColumnsData>
          <em class="inter-medium" *ngIf="!aggridData?.columnDefs?.length">
            No Data Available.
          </em>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="mapOptions.selectedVisualType === 'chart' && chartOptions">
      <ucp-visual-charts style="height: 100% !important; width: 100% !important"
        [chartOptions]="chartOptions" (typeEmitter)="chartTypeChange($event)"></ucp-visual-charts>
    </ng-container>
    <ng-container
      *ngIf="(!chartOptions || !chartOptions?.series?.length) && mapOptions.selectedVisualType === 'chart'">
      <div class="h-100 w-100 no-data-label background-white">
        <em class="inter-medium">
          Select a parameter to visualize the chart.
        </em>
      </div>
    </ng-container>
    <ng-container *ngIf="!mapOptions?.selectedVisualType">
      <div class="h-100 w-100 no-data-label background-white">
        <em class="inter-medium" *ngIf="!agGridOptions; else noColumnsData">
          No Data Available.
        </em>
        <ng-template #noColumnsData>
          <em class="inter-medium" *ngIf="!agGridOptions?.columnDefs?.length">
            No Data Available.
          </em>
        </ng-template>
      </div>
    </ng-container>
  </div>
</ng-template>