<div class="m-3 pl-2" *ngIf="!loader?.survey_template">
    <ucp-ag-grid-table [agGridOptions]="agGridOptions" [clickableColumns]="agGridOptions?.clickableColumns"
        (aggridEmitter)="aggridEmitter($event)">
    </ucp-ag-grid-table>
</div>

<button class="btn dropdown-toggle action-icon pt-0" hidden data-toggle="modal" data-target="#addModal" hidden
    id="addModalButton">
</button>

<div class="modal fade top" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-min-width-slider my-0" role="document" style="min-width: 100% !important;"
        ucpGlobalSlider [ucpSliderType]="'right-to-left'">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <h5 class="modal-title float-left" id="exampleModalLabel">{{surveyKey}} Survey Template Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeParamModel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: calc(100vh - 135px);overflow-y: auto;">
                <form [formGroup]="surveyTemplateForm" class="pl-0">
                    <div class="row col-12 m-0 p-0">
                        <div class="col-3">
                            <label class="form-design required">Survey Template Name</label>
                            <input type="text" class="form-control" ucpWhiteSpaceRestrictor placeholder="Enter Survey Template Name"
                                formControlName="survey_template" [(ngModel)]="templateData.survey_template"
                                [ngClass]="{ 'is-invalid': f['survey_template'].dirty && f['survey_template']['errors'] }">
                            <div *ngIf="f['survey_template']['errors'] && f['survey_template'].dirty"
                                class="invalid-feedback pt-1">
                                <span *ngIf="f['survey_template']['errors']['required']">
                                    Survey Template Name is required.
                                </span>
                            </div>
                        </div>
                        <div class="col-3">
                            <label class="form-design required">Survey Name</label>
                            <ng-select placeholder="Select Survey" bindLabel="label" bindValue="value"
                                [clearable]="false" class="form-control p-0" [items]="SurveySheetName"
                                [(ngModel)]="templateData.survey_name"
                                [ngClass]="{ 'is-invalid': f['survey_name'].dirty && f['survey_name']['errors'] }"
                                formControlName="survey_name">
                            </ng-select>
                            <div *ngIf="f['survey_name']['errors'] && f['survey_name'].dirty"
                                class="invalid-feedback pt-1">
                                <span *ngIf="f['survey_name']['errors']['required']">
                                    Survey Template is required.
                                </span>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="templateData.survey_name">
                            <div class="mt-2 text-center download-btn">
                                <a class="" href="javascript:void(0)" (click)="downloadFile()">
                                    <span>Survey Template Download</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-1" *ngIf="templateData.survey_name">
                            <div>{{fileUploadMetaData?.fileSelectedToUpload || 'Upload File'}}</div>
                            <div class="mt-2 p-0">
                                <input type="file" class="d-none" accept=".csv,.xls,.xlsx" name="file" #fileInput
                                    (click)="fileInput.value = null" id="fileBlock" (change)="uploadBlockCsv($event)">
                                <button class="btn btn-primary" (click)="toggleDOMELM('fileBlock')">
                                    <span>&nbsp;{{fileUploadMetaData?.selectedFile ? 'Re-Upload' :
                                        'Upload'}}</span></button>
                            </div>
                        </div>
                       
                        
                        <div class="col-3" *ngIf="DataLoaded">
                            <label class="form-design required">Sheet Name</label>
                            <ng-select placeholder="Select Sheet Name" class="form-control p-0" [items]="sheetList"
                                [(ngModel)]="templateData.sheet_name"  [clearable]="false"
                                [ngClass]="{ 'is-invalid': f['sheet_name'].dirty && f['sheet_name']['errors'] }"
                                formControlName="sheet_name" (ngModelChange)="changeSheetData(templateData.sheet_name?.table_data)">
                            </ng-select>
                            <div *ngIf="f['sheet_name']['errors'] && f['sheet_name'].dirty"
                                class="invalid-feedback pt-1">
                                <span *ngIf="f['sheet_name']['errors']['required']">
                                    Sheet Name is required.
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="pt-3 mt-3" *ngIf="templateData.sheet_name && reloadTable">
                    <h5>Map Columns to Parameters</h5>
                    <div>
                        <ucp-ag-grid-table [agGridOptions]="tableData" (aggridEmitter)="aggridEmitter($event)">
                        </ucp-ag-grid-table>
                    </div>
                </div>
                <div class="pt-3 mt-3" *ngIf="templateData.sheet_name && tableData ">
                    <h6>Format Options</h6>
                    <div class="row">
                        <div class="col-2">
                            <span>Has Headers</span>
                            <div class="col-md-1 px-0 mx-0">
                                <label class="switcher-control"><input type="checkbox" class="switcher-input"
                                        [checked]="templateData.has_headers" name="has_headers"
                                        [(ngModel)]="templateData.has_headers" (ngModelChange)="templateData.row_number = null; templateData.skip_rows = null"> <span class="switcher-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-2" *ngIf="templateData.has_headers">
                            <span>Header Row number</span>
                            <div class="col-md-1 px-0 mx-0">
                                <input type="number" class="form-control survey-format"  ucpWhiteSpaceRestrictor
                                    [(ngModel)]="templateData.row_number" title="{{templateData.row_number}}">
                            </div>
                        </div>
                        <div class="col-2" *ngIf="templateData.has_headers">
                            <div>
                                <span class="col">Skip Rows</span>
                                <div class="row px-0 mx-0">
                                <Span class="col-3 p-0 m-0">{{templateData.row_number || '2'}} to </Span>
                                <input type="number" class="form-control survey-format col-3 p-0 m-0" ucpWhiteSpaceRestrictor
                                    [(ngModel)]="templateData.skip_rows" title="{{templateData.skip_rows}}">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="templateData.sheet_name && tableData">
                   <div class="">
                    <label class="form-design required">Survey Expiry Date</label>
                    <div class="mt-2 d-flex">
                    <input type="number" class="form-control me-3 col-1" ucpWhiteSpaceRestrictor [min]="1"  placeholder="Enter Survey Expiry Date"
                    [(ngModel)]="surveyExpDate.survey_expiry_date" [ngModelOptions]="{standalone: true}" name="survey_expiry_date" >
                    <ng-select placeholder="Select Survey Expiry Date" bindLabel="label" bindValue="value"
                        [clearable]="false" class="form-control p-0 col-1" [items]="surveyExpList"
                        [(ngModel)]="surveyExpDate.survey_expiry_date_extension" 
                        [ngClass]="{ 'is-invalid': f['survey_name'].dirty && f['survey_name']['errssors'] }"
                        name="survey_expiry_date_extension">
                    </ng-select>
                   </div>
                    <div *ngIf="f['survey_name']['errors'] && f['survey_name'].dirty"
                        class="invalid-feedback pt-1">
                        <span *ngIf="f['survey_name']['errors']['required']">
                            Survey Expiry Date is required.
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer p-0">
                <div class="m-3 float-left">
                    <button type="submit" class="btn btn-primary" (click)="saveModal()">
                        Save Changes
                    </button>
                    <button class="btn btn-inverse btn-outline-primary mx-2" (click)="closeModal()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader?.survey_template || loader?.delete">
    <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>