<div class="m-3 pl-2" *ngIf="!loader.fetch">
    <ucp-ag-grid-table [agGridOptions]="agGridOptions" [clickableColumns]="agGridOptions?.clickableColumns"
        (aggridEmitter)="aggridEmitter($event)">
    </ucp-ag-grid-table>
</div>

<button class="btn dropdown-toggle action-icon pt-0" hidden data-toggle="modal" data-target="#addModal" hidden
    id="addModalButton">
</button>

<div class="modal fade top" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-min-width-slider my-0" role="document" style="min-width: 100% !important;"
        ucpGlobalSlider [ucpSliderType]="'right-to-left'">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <h5 class="modal-title float-left pl-2" id="exampleModalLabel">{{surveyName}} Survey Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModel"
                    (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: calc(100vh - 135px);overflow-y: auto;">
                <div class="row m-0 import-data" *ngIf="!isPreview">
                    <!-- the data to load -->
                <ng-container *ngIf="survayAccordianView">
                        <div class="p-0" *ngFor="let eachTab of survayAccordianView">
                            <div class="col-md-12 mt-2 p-0" (click)="changeactiveTab(eachTab)">
                                <h6 class="vDataLabel d-flex accor_dian inter-medium">
                                    <span class="material-icons-outlined"
                                        *ngIf="!eachTab?.showTab">chevron_right</span>
                                    <span class="material-icons-outlined"
                                        *ngIf="eachTab?.showTab">expand_more</span>
                                    <span>{{eachTab?.label}}
                                    </span>
                                </h6>
                            </div>
                            <div *ngIf="eachTab?.showTab && eachTab?.value === 'uploadSurvayFile'">
                                <form [formGroup]="surveysForm" class="pl-0 pb-3" *ngIf="surveysForm">
                                    <div class="row col-12 m-0 p-0">
                                        <div class="row m-0">
                                            <div class="col-3">
                                                <label class="form-design required">Survey Template</label>
                                                <ng-select placeholder="Select Survey Template" bindLabel="label" bindValue="value"
                                                    class="form-control p-0" [items]="surveyDetails?.survey_template_list"
                                                    [clearable]="false" [(ngModel)]="surveyDetails.survey_template"
                                                    (change)="getTemplateData(surveyDetails)"
                                                    [ngClass]="{ 'is-invalid': f['survey_template'].dirty && f['survey_template']['errors'] }"
                                                    formControlName="survey_template">
                                                </ng-select>
                                                <div *ngIf="f['survey_template']['errors'] && f['survey_template'].dirty"
                                                    class="invalid-feedback pt-1">
                                                    <span *ngIf="f['survey_template']['errors']['required']">
                                                        Survey Template is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-design">Chainage Unit</label>
                                                <ng-select placeholder="Select Chainage Unit" bindLabel="label" bindValue="value"
                                                    class="form-control p-0" [items]="chainageUnitList"
                                                    [clearable]="false" [(ngModel)]="surveyDetails.chainageUnit"
                                                    [ngModelOptions]="{standalone: true}">
                                                </ng-select>
                                            </div>
                                            <div class="col-1" *ngIf="surveyDetails.survey_template">
                                                <div class="file-label" title="{{surveyDetails?.fileSelectedToUpload}}">
                                                    {{surveyDetails?.fileSelectedToUpload || 'Upload File'}}</div>
                                                <div class="mt-2 p-0">
                                                    <input type="file" class="d-none" accept=".csv,.xls,.xlsx" name="file"
                                                        #fileInput (click)="fileInput.value = null" id="fileBlock" multiple
                                                        (change)="uploadBlockCsv($event, surveyDetails)">
                                                    <button class="btn btn-primary" (click)="toggleDOMELM('fileBlock')">
                                                        <span>&nbsp;{{(surveyDetails?.selectedFile || disableField) ? 'Re-Upload' :
                                                            'Upload'}}</span></button>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="surveyDetails.dataLoaded && surveyDetails.survey_template"
                                                [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design required">Sheet Name</label>
                                                <ng-select placeholder="Select Sheet Name" class="form-control p-0"
                                                    bindLabel="label" bindValue="label" [items]="surveyDetails?.survey_data"
                                                    [(ngModel)]="surveyDetails.survey_sheet_name" [clearable]="false"
                                                    [ngClass]="{ 'is-invalid': f['survey_sheet_name'].dirty && f['survey_sheet_name']['errors'] }"
                                                    formControlName="survey_sheet_name" (ngModelChange)="validateSurvey(surveyDetails)">
                                                </ng-select>
                                                <div *ngIf="f['survey_sheet_name']['errors'] && f['survey_sheet_name'].dirty"
                                                    class="invalid-feedback pt-1">
                                                    <span *ngIf="f['survey_sheet_name']['errors']['required']">
                                                        Sheet Name is required.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 pt-3">
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design">Work Order Number</label>
                                                <input class="form-control" type="text" placeholder="Enter Work Order Number"
                                                    [ngModelOptions]="{standalone: true}" ucpWhiteSpaceRestrictor
                                                    [(ngModel)]="surveyDetails.work_order_number">
                                            </div>
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design required">Survey Start Date</label>
                                                <input class="form-control" placeholder="Select Survey Start Date"
                                                    [(ngModel)]="surveyDetails.survey_start_date" [max]="meta['today']" readonly
                                                    [ngClass]="{ 'is-invalid': f['survey_start_date'].dirty && f['survey_start_date']['errors'] }"
                                                    [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                                                    formControlName="survey_start_date">
                                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                            </div>
            
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design required">Survey End Date</label>
                                                <input class="form-control" placeholder="Select Survey End Date" readonly
                                                    [(ngModel)]="surveyDetails.survey_end_date"
                                                    [min]="surveyDetails.survey_start_date" [max]="meta['today']"
                                                    [ngClass]="{ 'is-invalid': f['survey_end_date'].dirty && f['survey_end_date']['errors'] }"
                                                    [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                                                    formControlName="survey_end_date">
                                                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                            </div>
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <span class="form-design required">Pipeline Segment</span>
                                                <div class="px-0 mt-2 chainage-milestone">
                                                    <input type="number" class="form-control chainage-milestone-input"
                                                        ucpWhiteSpaceRestrictor title="{chainage_milestone.chainage_value}"
                                                        [min]="1" [(ngModel)]="chainage_milestone.chainage_value"
                                                        [ngModelOptions]="{standalone: true}" formControlName="chainage_milestone">
                                                    <ng-select class="form-control p-0 chainage-milestone-select " bindValue="value"
                                                        bindLabel="label" [items]="chainage_milestone_list" [clearable]="false"
                                                        [(ngModel)]="chainage_milestone.extension_value"
                                                        [ngModelOptions]="{standalone: true}">
                                                    </ng-select>
                                                    <div *ngIf="f['chainage_milestone']['errors'] && f['chainage_milestone'].dirty"
                                                        class="invalid-feedback pt-1">
                                                        <span *ngIf="f['chainage_milestone']['errors']['required']">
                                                            Pipeline Segment is required.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div *ngIf="surveyDetails?.templatePreview">
                                    <div class="pt-1 p-3"
                                        *ngIf="surveyDetails?.survey_template && surveyDetails?.templatePreviewTable && surveyDetails?.loadedTable">
                                        <h6 class="my-2"> Survey Template Preview</h6>
                                        <div>
                                            <ucp-ag-grid-table [agGridOptions]="surveyDetails?.templatePreviewTable">
                                            </ucp-ag-grid-table>
                                        </div>
                                    </div>
                                </div>
            
                                <ng-container
                                    *ngIf="surveyDetails?.accordionView && surveyDetails?.survey_sheet_name && surveyDetails?.tableData && !surveyDetails?.templatePreview">
                                    <div class="accordionLine pl-0 " *ngFor="let activeAccordianTab of surveyDetails?.accordionView let i = index">
                                        <div class="col-md-12 mt-2" (click)="changeactiveTab(activeAccordianTab)">
                                            <h6 class="vDataLabel d-flex accor_dian inter-medium">
                                                <span class="material-icons-outlined"
                                                    *ngIf="!activeAccordianTab.showTab">chevron_right</span>
                                                <span class="material-icons-outlined"
                                                    *ngIf="activeAccordianTab.showTab">expand_more</span>
                                                <span>{{activeAccordianTab?.label}}
                                                </span>
                                                <span class="ml-1 color-red"
                                                    *ngIf="activeAccordianTab.value === 'errorTableData' && surveyDetails?.errorsTable?.rowData?.length">({{surveyDetails?.errorsTable?.rowData?.length}})</span>
                                            </h6>
                                        </div>
                                        <div *ngIf="activeAccordianTab.showTab">
                                            <div *ngIf="activeAccordianTab.value === 'mapColumnToParameter'">
                                                <div class="pt-1 pl-3 ml-3"
                                                    *ngIf="surveyDetails?.survey_sheet_name && surveyDetails?.tableData">
                                                    <div>
                                                        <ucp-ag-grid-table [agGridOptions]="surveyDetails?.tableData"
                                                            (aggridEmitter)="aggridEmitter($event)">
                                                        </ucp-ag-grid-table>
                                                    </div>
                                                    <ng-container
                                                        *ngIf="(!surveyDetails.tableData || !surveyDetails.tableData?.columnDefs?.length)">
                                                        <div class="no-data-label background-white">
                                                            <em class="inter-medium"
                                                                *ngIf="!surveyDetails?.tableData; else noColumnsData">
                                                                No Data Available In File.
                                                            </em>
                                                            <ng-template #noColumnsData>
                                                                <em class="inter-medium"
                                                                    *ngIf="!surveyDetails?.tableData?.columnDefs?.length">
                                                                    No Data Available.
                                                                </em>
                                                            </ng-template>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div *ngIf="activeAccordianTab.value === 'errorTableData'">
                                                <div class="pt-1 pl-3 ml-3"
                                                    *ngIf="surveyDetails?.survey_sheet_name && surveyDetails?.errorsTable else noTableData">
                                                    <ucp-ag-grid-table [agGridOptions]="surveyDetails?.errorsTable">
                                                    </ucp-ag-grid-table>
                                                </div>
                                                <ng-container *ngIf="(!surveyDetails?.errorsTable || !surveyDetails?.errorsTable?.columnDefs?.length)">
                                                    <div class="no-data-label background-white">
                                                        <em class="inter-medium" *ngIf="!surveyDetails?.errorsTable; else noColumnsData">
                                                            {{surveyDetails?.validationMsg || "No Error Table To Show."}}
                                                        </em>
                                                        <ng-template #noColumnsData>
                                                            <em class="inter-medium" *ngIf="!surveyDetails?.errorsTable?.columnDefs?.length">
                                                                {{surveyDetails?.validationMsg || "No Error Data Available."}}
                                                            </em>
                                                        </ng-template>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div *ngIf="activeAccordianTab.value === 'surveyTable'">
                                                <div class="pt-1 pl-3 ml-3" *ngIf="surveyDetails?.survey_sheet_name && surveyDetails?.surveyTable">
                                                    <ucp-ag-grid-table [agGridOptions]="surveyDetails?.surveyTable">
                                                    </ucp-ag-grid-table>
                                                </div>
                                                <ng-container *ngIf="(!surveyDetails?.surveyTable || !surveyDetails?.surveyTable?.columnDefs?.length)">
                                                    <div class="no-data-label background-white">
                                                        <em class="inter-medium" *ngIf="!surveyDetails?.surveyTable; else noColumnsData">
                                                            {{surveyDetails?.validationMsg || "No Data Available In File."}}
                                                        </em>
                                                        <ng-template #noColumnsData>
                                                            <em class="inter-medium" *ngIf="!surveyDetails?.surveyTable?.columnDefs?.length">
                                                                {{surveyDetails?.validationMsg || "No Survey Data Available."}}
                                                            </em>
                                                        </ng-template>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="eachTab?.showTab && eachTab?.value === 'additionalFile'">
                                <form [formGroup]="additionalForm" class="pl-0 pb-3" *ngIf="additionalForm">
                                    <div class="row col-12 m-0 p-0">
                                        <div class="row m-0">
                                            <div class="col-3">
                                                <label class="form-design">Survey Template</label>
                                                <ng-select placeholder="Select Survey Template" bindLabel="label" bindValue="value"
                                                    class="form-control p-0" [items]="additionalFile?.survey_template_list"
                                                    [clearable]="false" [(ngModel)]="additionalFile.survey_template"
                                                    (change)="getTemplateData(additionalFile)" [ngModelOptions]="{standalone: true}">
                                                </ng-select>
                                            </div>
                                            <div class="col-1">
                                                <label class="form-design">Chainage Unit</label>
                                                <ng-select placeholder="Select Unit" bindLabel="label" bindValue="value"
                                                    class="form-control p-0" [items]="chainageUnitList"
                                                    [clearable]="false" [(ngModel)]="additionalFile.chainageUnit"
                                                    [ngModelOptions]="{standalone: true}">
                                                </ng-select>
                                            </div>
                                            <div class="col-1" *ngIf="additionalFile.survey_template">
                                                <div class="file-label" title="{{additionalFile?.fileSelectedToUpload}}">
                                                    {{additionalFile?.fileSelectedToUpload || 'Upload File'}}</div>
                                                <div class="mt-2 p-0">
                                                    <input type="file" class="d-none" accept=".xls,.xlsx" name="additionalfile"
                                                        #additionalFileInput (click)="additionalFileInput.value = null" id="additionalFileBlock"
                                                        (change)="uploadBlockCsv($event, additionalFile)">
                                                    <button class="btn btn-primary" (click)="toggleDOMELM('additionalFileBlock')">
                                                        <span>&nbsp;{{(additionalFile?.selectedFile || disableField) ? 'Re-Upload' :
                                                            'Upload'}}</span></button>
                                                </div>
                                            </div>
                                            <div class="col-3" *ngIf="additionalFile.dataLoaded && additionalFile.survey_template"
                                                [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design required">Sheet Name</label>
                                                <ng-select placeholder="Select Sheet Name" class="form-control p-0"
                                                    bindLabel="label" bindValue="label" [items]="additionalFile?.survey_data"
                                                    [(ngModel)]="additionalFile.survey_sheet_name" [clearable]="false"
                                                    [ngModelOptions]="{standalone: true}" (ngModelChange)="additionalDataUploaded= true; validateSurvey(additionalFile)">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row m-0 pt-3">
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design">Work Order Number</label>
                                                <input class="form-control" type="text" placeholder="Enter Work Order Number"
                                                    [ngModelOptions]="{standalone: true}" ucpWhiteSpaceRestrictor
                                                    [(ngModel)]="additionalFile.work_order_number">
                                            </div>
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design">Survey Start Date</label>
                                                <input class="form-control" placeholder="Select Survey Start Date"
                                                    [(ngModel)]="additionalFile.survey_start_date" [max]="meta['today']" readonly
                                                    [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                                                    [ngModelOptions]="{standalone: true}">
                                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                            </div>
            
                                            <div class="col-3" [ngClass]="disableField ? 'disableItem' : null">
                                                <label class="form-design">Survey End Date</label>
                                                <input class="form-control" placeholder="Select Survey End Date" readonly
                                                    [(ngModel)]="additionalFile.survey_end_date"
                                                    [min]="additionalFile.survey_start_date" [max]="meta['today']"
                                                    [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                                                    [ngModelOptions]="{standalone: true}">
                                                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div *ngIf="additionalFile?.templatePreview">
                                    <div class="pt-1 p-3"
                                        *ngIf="additionalFile?.survey_template && additionalFile?.templatePreviewTable && additionalFile?.loadedTable">
                                        <h6 class="my-2"> Survey Template Preview</h6>
                                        <div>
                                            <ucp-ag-grid-table [agGridOptions]="additionalFile?.templatePreviewTable">
                                            </ucp-ag-grid-table>
                                        </div>
                                    </div>
                                </div>
            
                                <ng-container
                                    *ngIf="additionalFile?.accordionView && additionalFile?.survey_sheet_name && additionalFile?.tableData && !additionalFile?.templatePreview">
                                    <div class="accordionLine pl-0 " *ngFor="let activeAccordianTab of additionalFile?.accordionView let i = index">
                                        <div class="col-md-12 mt-2" (click)="changeactiveTab(activeAccordianTab)">
                                            <h6 class="vDataLabel d-flex accor_dian inter-medium">
                                                <span class="material-icons-outlined"
                                                    *ngIf="!activeAccordianTab.showTab">chevron_right</span>
                                                <span class="material-icons-outlined"
                                                    *ngIf="activeAccordianTab.showTab">expand_more</span>
                                                <span>{{activeAccordianTab?.label}}
                                                </span>
                                                <span class="ml-1 color-red"
                                                    *ngIf="activeAccordianTab.value === 'errorTableData' && additionalFile?.errorsTable?.rowData?.length">({{additionalFile?.errorsTable?.rowData?.length}})</span>
                                            </h6>
                                        </div>
                                        <div *ngIf="activeAccordianTab.showTab">
                                            <div *ngIf="activeAccordianTab.value === 'mapColumnToParameter'">
                                                <div class="pt-1 pl-3 ml-3"
                                                    *ngIf="additionalFile?.survey_sheet_name && additionalFile?.tableData">
                                                    <div>
                                                        <ucp-ag-grid-table [agGridOptions]="additionalFile?.tableData"
                                                            (aggridEmitter)="aggridEmitter($event)">
                                                        </ucp-ag-grid-table>
                                                    </div>
                                                    <ng-container
                                                        *ngIf="(!additionalFile.tableData || !additionalFile.tableData?.columnDefs?.length)">
                                                        <div class="no-data-label background-white">
                                                            <em class="inter-medium"
                                                                *ngIf="!additionalFile?.tableData; else noColumnsData">
                                                                No Data Available In File.
                                                            </em>
                                                            <ng-template #noColumnsData>
                                                                <em class="inter-medium"
                                                                    *ngIf="!additionalFile?.tableData?.columnDefs?.length">
                                                                    No Data Available.
                                                                </em>
                                                            </ng-template>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div *ngIf="activeAccordianTab.value === 'errorTableData'">
                                                <div class="pt-1 pl-3 ml-3"
                                                    *ngIf="additionalFile?.survey_sheet_name && additionalFile?.errorsTable else noTableData">
                                                    <ucp-ag-grid-table [agGridOptions]="additionalFile?.errorsTable">
                                                    </ucp-ag-grid-table>
                                                </div>
                                                <ng-container *ngIf="(!additionalFile?.errorsTable || !additionalFile?.errorsTable?.columnDefs?.length)">
                                                    <div class="no-data-label background-white">
                                                        <em class="inter-medium" *ngIf="!additionalFile?.errorsTable; else noColumnsData">
                                                            {{additionalFile?.validationMsg || "No Error Table To Show."}}
                                                        </em>
                                                        <ng-template #noColumnsData>
                                                            <em class="inter-medium" *ngIf="!additionalFile?.errorsTable?.columnDefs?.length">
                                                                {{additionalFile?.validationMsg || "No Error Data Available."}}
                                                            </em>
                                                        </ng-template>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div *ngIf="activeAccordianTab.value === 'surveyTable'">
                                                <div class="pt-1 pl-3 ml-3" *ngIf="additionalFile?.survey_sheet_name && additionalFile?.surveyTable">
                                                    <ucp-ag-grid-table [agGridOptions]="additionalFile?.surveyTable">
                                                    </ucp-ag-grid-table>
                                                </div>
                                                <ng-container *ngIf="(!additionalFile?.surveyTable || !additionalFile?.surveyTable?.columnDefs?.length)">
                                                    <div class="no-data-label background-white">
                                                        <em class="inter-medium" *ngIf="!additionalFile?.surveyTable; else noColumnsData">
                                                            {{additionalFile?.validationMsg || "No Data Available In File."}}
                                                        </em>
                                                        <ng-template #noColumnsData>
                                                            <em class="inter-medium" *ngIf="!additionalFile?.surveyTable?.columnDefs?.length">
                                                                {{additionalFile?.validationMsg || "No Survey Data Available."}}
                                                            </em>
                                                        </ng-template>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <!-- <div class="row m-0 import-data" *ngIf="isPreview">
                    <span class="preview d-flex pb-4 inter-medium" *ngIf="isPreview" (click)="closePreview()">
                        <span class="material-icons-outlined">
                            arrow_back
                        </span>
                        <span class="ml-1">Back</span>
                    </span>
                    <h5>File Preview</h5>
                    <ucp-ag-grid-table [agGridOptions]="previewTableData" (aggridEmitter)="aggridEmitter($event)"
                        [Height]="tableHeight">
                    </ucp-ag-grid-table>
                </div> -->
            </div>
            <div class="modal-footer p-0">
                <div class="m-3 float-left d-flex pl-2">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="(surveyDetails?.dataLoaded && surveyDetails?.survey_template && !isPreview && !editModalOpen && (surveyDetails?.isDataValid && (!additionalDataUploaded || (additionalDataUploaded && additionalFile?.isDataValid)))) ? false : true"
                        (click)="saveModal(surveyDetails)">
                        Save Changes
                    </button>
                    <button class="btn btn-inverse btn-outline-primary mx-2" [disabled]="(!isPreview) ? false : true"
                        (click)="closeModal()">
                        Cancel
                    </button>
                    <!-- <span class="preview d-flex mt-2 pl-1" *ngIf="dataLoaded && surveyDetails.survey_template && isDataValid && surveyDetails.survey_sheet_name && !isPreview && !editModalOpen" (click)="previewData()">
                        <span class="material-icons-outlined">
                            remove_red_eye
                        </span>
                        <span class="ml-1">Preview</span>
                    </span> -->
                </div>
            </div>
            <div *ngIf="loader?.survey || loader?.sheet || loader?.data || loader?.save || loader?.templateData">
                <div id="loader-wrapper-submaincontent">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader?.fetch || loader?.delete">
    <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>