<div class="row m-0 h-100">
    <ng-container *ngIf="!loader?.login && !loader?.formPage">
        <div class="col-lg-8 p-l-0" id="loginImage">
        </div>
        <div class="col-lg-4 p-5 loginFormSpacing h-100">
            <!-- <div class="col-md-12 pt-5 adnoc-logo" *ngIf="pageType === 'normalLogin'">
                <img class="icons" src="assets/images/adnoc-logo-new.svg" alt="ADNOC">
            </div> -->
            <div class="col-md-12" *ngIf="pageType === 'normalLogin'">
                <label class="info">Log in to <strong> Reporting System</strong></label>
            </div>
            <div class="fieldView col-md-12">
                <ng-container *ngIf="page === 'phonenumber'">
                    <div class="form-group">
                        <label class=" form-design">Phone Number</label>
                        <input type="text" ucpWhiteSpaceRestrictor class="form-control" placeholder="Enter Phone number" id="loginUserID"
                            [(ngModel)]="userDet.phonenumber">
                    </div>
                    <button type="submit" class="btn btn-primary col-md-12" (click)="getOTP()">
                        Get Otp <span><em class="fa fa-spinner fa-spin"></em></span>
                    </button>
                </ng-container>
                <ng-container *ngIf="page === 'otp'">
                    <div class="form-group">
                        <label class=" form-design">OTP</label>
                        <input type="number" ucpWhiteSpaceRestrictor class="form-control" placeholder="Enter OTP" id="loginUserID"
                            [(ngModel)]="userDet.otp">
                    </div>
                    <button type="submit" class="btn btn-primary col-md-12" (click)="verifyOTP()">
                        Verify OTP & Login <span><em class="fa fa-spinner fa-spin"></em></span>
                    </button>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="loader?.login || loader?.formPage">
        <div>
            <div id="loader-wrapper-submaincontent">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>