<div class="container">
    <div class="row m-4">
        <div class="col-md-12 mr-0 ml-auto mb-3">
            <button type="button" class="btn btn-primary mr-3 " (click)="emergencyHelp()">Emergency</button>
            <button type="button" class="btn btn-outline-primary" (click)="routeTo()">Register An Issue</button>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="flex-direction: column;">
            <ng-container *ngFor="let cardData of cardsViewData">
                <div class="card card-width">
                    <div class="card-header d-flex" style="gap: 6rem;">
                        <div>{{cardData.name}}</div>
                        <div>{{cardData.posted_on}}</div>
                        <div>{{cardData.role}}</div>
                        <div>{{cardData.status}}</div>
                    </div>
                    <img class="card-img-top" src="assets/images/default.jpg" alt="Default Issue">
                    <!-- <img src="/assets/images/irs.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p class="card-text">{{cardData.description}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="actions_footer d-flex gap-1 pl-3 cursor-pointer">
                            <span class="material-icons-outlined">
                                back_hand
                            </span>
                            <span>
                                <strong>Raise Hand</strong>
                            </span>
                        </div>
                        <div class="actions_footer d-flex gap-1 cursor-pointer"
                            (click)="openCommentsPopup(cardData, 'comments')">
                            <span class="material-icons-outlined">
                                chat
                            </span>
                            <span>
                                <strong>Comment</strong>
                            </span>
                        </div>
                        <!-- <div class="actions_footer d-flex gap-1 cursor-pointer"
                            (click)="openCommentsPopup(cardData, 'share')">
                            <span class="material-icons-outlined">
                                share
                            </span>
                            <span>
                                <strong>Share</strong>
                            </span>
                        </div> -->
                        <div class="actions_footer d-flex gap-1 pl-3 cursor-pointer"
                            (click)="copyInputMessage(cardData.url)">
                            <span class="material-icons-outlined">
                                content_copy
                            </span>
                            <span>
                                <strong>Copy URL</strong>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>



<!-- comments modal -->

<button class="invisible" style="display: none;" data-toggle="modal" data-target="#appCommentModal"
    id="openCommentsModal"></button>

<!-- Modal -->
<div class="modal fade" id="appCommentModal" tabindex="-1" role="dialog" aria-labelledby="appCommentModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header popUpHeader">
                <h4 class="modal-title">Comments</h4>
                <button type="button" class="close" data-dismiss="modal" data-target="#appShareModal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div class="row comments-popup p-1 m-1">
                    <ng-container *ngIf="popupContent.comments?.length; else parameterLabel">
                        <ng-container *ngFor="let data of popupContent.comments">
                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        {{data.comment_desc}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #parameterLabel>
                        <label class="p-1 mt-1" style="display: flex;">No Comments Available</label>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="commentText">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="addComment()"
                            [disabled]="!commentText"><span class="material-icons-outlined">
                                send
                            </span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<!-- share modal -->

<button class="invisible" style="display: none;" data-toggle="modal" data-target="#appShareModal"
    id="openShareModal"></button>

<!-- Modal -->
<div class="modal fade" id="appShareModal" tabindex="-1" role="dialog" aria-labelledby="appShareModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header popUpHeader">
                <h4 class="modal-title">Share</h4>
                <button type="button" class="close" data-dismiss="modal" data-target="#appShareModal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div class="row">
                    <div class="actions_footer d-flex gap-1 pl-3 cursor-pointer"
                        (click)="copyInputMessage(popupContent.url)">
                        <span class="material-icons-outlined">
                            content_copy
                        </span>
                        <span>
                            <strong>Copy URL</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="dismissAdd" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>