.card-width {
  width: 40rem;
}
.container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.container {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  height: 3rem;
  align-items: center;
}
.actions_footer {
  width: 10rem;
}
.comments-popup {
  height: calc(100vh - 329px);
  overflow-y: scroll;
  scrollbar-width: thin;
}
