th {
    border-bottom: 2px solid #dee2e6;
}

tr:nth-child(even) {
    background-color: #f6f7f9;
  }

tbody {
    width: 1px;
}

.table{
    margin-top: 26px;
}

.limit-range-label {
    font-size: 10px !important;
    margin-bottom: 0 !important;
}
.table-data {
    padding-top: 0rem !important;
    padding-left: 0px;
    padding-right: 0px;
}
.color-picker-height {
    height: 36px;
}