<div class="compare-component">
    <div class="col-md-12 compare-filters position-relative top-nav d-flex m-0 pl-2 ">
        <div class="col-md-1 d-flex px-0 m-0 cursor-pointer customizeClass" *ngIf="allWidgets?.length">
            <div>
                <a class="nav-link has-badge d-flex px-1 pb-0 pr-3" href="javascript:void(0)" (click)="openAllFilters()">
                    <span class="material-icons mt-1 ml-0 color-white">tune</span>
                    <p class="mt-1 ml-2 color-white">Customize</p>
                </a>
                <ucp-filters [showFilterOptions]="showFilterOptions" [loaders]="loaders" [(filterPinned)]="filterPinned"
                    [tabs]="tabs" [selectedTab]="selectedTab" [dfmFilterData]="dfmFilterData"
                    [displayFilterData]="displayFilterData" (pinFilterOut)="pinFilter()"
                    (switchTabsOut)="switchTabs($event)" (emitDFMFieldOut)="emitDFMField($event)"
                    (emitDFMDisplayFieldOut)="emitDFMDisplayField($event)" (scrollEmitterOut)="emitOnScroll($event)"
                    (showFiltersOut)="showFilters()" (clearAllFiltersOut)="clearAllFilters()"
                    (showMoreOpt)="showMoreOpt($event)"></ucp-filters>
            </div>
        </div>
        <div class="col-md-11 px-0 m-0 headerScroll cursor-pointer">
            <div class="d-flex col-md-2 px-0" data-toggle="dropdown" (click)="clickout($event)" aria-haspopup="true"
                aria-expanded="false">
                <button class="newCompareBtn d-flex"
                    [ngStyle]="{'background-color': !toggleAddCompare ? '#686868' : 'white', 'color': toggleAddCompare ? 'black' : 'white' }">
                    <span class="material-icons-outlined pr-3 pl-2">add</span>
                    <span class="btnlabel">Add To Compare</span>
                    <span class="material-icons-outlined col-md-3">arrow_drop_down</span></button>
            </div>
            <div class="dropdown-menu dropdown-menu-rich w-25 dropdown-menu-right border_0_px widget-dropdown">

                <div class="dropdown-scroll perfect-scrollbar row">
                    <div class="col add-compare" *ngFor="let eachData of createCompare">
                        <span class="material-icons-outlined icon-det" (click)="createWidget(eachData?.value)">
                            {{eachData?.icon}}
                        </span>
                        <span>
                            {{eachData?.label}}
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="widget">
            </div> -->
    
            <div class="col-md-3 pl-2 d-flex headerBtn">
                <div class="d-flex cursor-pointer align-items-center" (click)="saveCurrentWorkspace()">
                    <span class="material-icons-outlined pr-2">save</span> Save Workspace
                </div>
                <div class="d-flex pl-3 pr-3 cursor-pointer align-items-center">
                    <span class="material-icons-outlined pr-2"> email</span> Email
                </div>
                <div class="cursor-pointer align-items-center">
                    <span class="material-icons-outlined"> save_alt</span>
                </div>
            </div>
            <div class="last-saved" *ngIf="activeTab?.last_updated_time_label">
                <span class="last-saved-label">{{activeTab?.last_updated_time_label}}</span>
            </div>
        </div>
    </div>
    <div class="row m-0 compare-body visualize-component-plot-map {{!filterPinned && showFilterOptions ? '' : 'open-unpinned'}} {{filterPinned && showFilterOptions && allWidgets?.length ? 'ml-20' : 'marginZero'}}" style="overflow-y: auto;">
        <div class="row m-0 p-0 p-1 col-md-12 dasboard-area" id="dashboardArea" *ngIf="allWidgets?.length">
            <gridster [options]="gridSterOptions" class="px-0 py-0">
                <gridster-item [item]="item" [class.activeWidget]="activeWidget?.wId === item.wId" class="m-0"
                    *ngFor="let item of allWidgets; let i=index">
                    <div class="d-flex pl-1 widget-header drag-handler">
                        <button class="d-flex header-button pl-1 cursor-pointer gridster-item-content"
                            (click)="openWidgetType(item)">
                            <span class="material-icons-outlined change-wid" *ngIf="item?.visualType === 'table'">
                                table_chart
                            </span>
                            <span class="material-icons-outlined change-wid" *ngIf="item?.visualType === 'chart'">
                                bar_chart
                            </span>
                            <span class="material-icons-outlined change-wid" *ngIf="item?.visualType === 'map'">
                                map
                            </span>
                            <span class="material-icons-outlined change-wid">arrow_drop_down</span>
                        </button>
                        <div class="widget-area pl-2 d-flex inter-bold cursor-pointer gridster-item-content"
                            *ngIf="!item?.isInput" (click)="changeActiveWidget(item, true)"
                            (dblclick)="item['isInput'] = true;">
                            {{item?.wName}}
                        </div>
                        <input class="form-control col-4 gridster-item-content" placeholder="Enter Widget Name"
                            type="text" [(ngModel)]="item.wName" *ngIf="item?.isInput">
                        <span class="nav-action cursor-pointer material-icons-outlined px-1" title="Save Workspace"
                            (click)="saveWidget(i, item)" *ngIf="item?.isInput">save</span>
                        <div *ngIf="widgetLoaders?.[item?.wId]?.[item?.visualType]"
                            class="d-flex ml-auto spinner-border mr-2 text-primary spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div *ngIf="!widgetLoaders?.[item?.wId]?.[item?.visualType]"
                            class="d-flex ml-auto mr-1 cursor-pointer gridster-item-content"
                            (click)="deleteWidget(item)">
                            <span class="material-icons-outlined">
                                close
                            </span>
                        </div>
                    </div>
                    <div class="widget-type widget-icons" *ngIf="typeChangeBtn === item?.wId">
                        <div class="row m-0" *ngFor="let eachtype of createCompare">
                            <span class="material-icons-outlined col p-1 widget-type-change"
                                [ngStyle]="{'border': item?.visualType === eachtype?.value ? '2px solid #1947BA': ''}"
                                (click)="changeEachWidgetType(item, eachtype, i)">
                                {{eachtype?.icon}}
                            </span>
                        </div>

                    </div>
                    <div class="row gridster-item-content" style="height: 95%" *ngIf="!item?.hide">
                        <div style="height: 90%;"
                            *ngIf="(item?.visualType ==='chart' && widgetData[item.wId]?.chartData?.series && widgetData[item.wId]?.chartData?.series?.length) else noChartData">
                            <ucp-visual-charts style="height: 100% !important; width: 100% !important"
                            [uniqueId]="'visual_charts_'+i"
                                [chartOptions]="widgetData[item.wId]?.chartData" (typeEmitter)="chartTypeChange($event)"
                                (mouseOverEmitter)="hoverEmitter($event)" (mouseOutEmitter)="mouseOutEmitter($event)"
                                ></ucp-visual-charts>
                        </div>
                        <div style="height: 98%;" *ngIf="item?.visualType ==='map' && widgetData?.[item?.wId]?.mapData">
                            <ucp-maps [showLegends]="item?.mapProps?.showInMap?.show_legends"
                                [tooltipOptions]="tem?.mapProps?.['tooltipParams']"
                                [showMarkers]="item?.mapProps?.showInMap?.show_chainages"
                                [showPolylines]="item?.mapProps?.showInMap?.show_survey"
                                [selectedLegends] = "item?.mapProps?.['selectedLegends']"
                                [showLabels] = "item?.mapProps?.showInMap?.show_pipeline_segment"
                                [legends]="widgetData[item.wId]?.legends"
                                [mapOptions]="widgetData[item.wId]?.mapOptions"
                                [mapData]="widgetData[item.wId]?.mapData"
                                [mapType]="true" [showTilt]="true"></ucp-maps>
                        </div>
                        <div *ngIf="(item?.visualType ==='table' && widgetData[item.wId]?.tableData && widgetData[item.wId]?.tableData?.columnDefs?.length) else noTableData"
                            style="height: 95%">
                            <ucp-ag-grid-table *ngIf="!widgetData[item.wId]?.refreshingTable"
                                [agGridOptions]="widgetData[item.wId]?.tableData"
                                [infiniteScroll]="widgetData[item.wId]?.tableData?.infiniteScroll || false"
                                [theme]="theme" [Height]="'100%'" [tableState]="item?.tableProps?.tableState ">
                            </ucp-ag-grid-table>
                        </div>
                    </div>
                    <ng-template #noTableData>
                        <ng-container
                            *ngIf="item?.visualType === 'table' && widgetData?.[item?.wId] && (!widgetData?.[item?.wId]?.tableData?.columnDefs || !widgetData?.[item?.wId]?.tableData?.columnDefs?.length)">
                            <div class="w-100 no-data-label background-white" style="height: 95%">
                                <em class="inter-medium"
                                    *ngIf="(!widgetData?.[item?.wId]?.tableData?.columnDefs) else noColumnsData">
                                    Select a survey to visualize the Table data.
                                </em>
                                <ng-template #noColumnsData>
                                    <em class="inter-medium"
                                        *ngIf="!widgetData?.[item?.wId]?.tableData?.columnDefs?.length">
                                        No Data Available.
                                    </em>
                                </ng-template>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template #noChartData>
                        <ng-container
                            *ngIf="item?.visualType === 'chart' && (!widgetData?.[item?.wId]?.chartData?.series || !widgetData?.[item?.wId]?.chartData?.series?.length)">
                            <div class="w-100 no-data-label background-white" style="height: 95%">
                                <em class="inter-medium"
                                    *ngIf="(!item?.filterProps?.filters || (item?.filterProps?.filters | json) === '{}' || !widgetData?.[item?.wId]?.chartData?.series)">
                                    Select a survey to visualize the Chart data.
                                </em>
                                <em class="inter-medium"
                                    *ngIf="(item?.filterProps?.filters && widgetData?.[item?.wId]?.chartData?.series && !widgetData?.[item?.wId]?.chartData?.series?.length)  else noColumnsData">
                                    Select Parameter to visualize Chart Data
                                </em>
                            </div>
                        </ng-container>
                    </ng-template>
                </gridster-item>
            </gridster>
        </div>
        <ng-container *ngIf="!allWidgets?.length">
            <div class="h-100 w-100 no-data-label background-white" style="height: 95%">
                <div class="inter-medium" *ngIf="!allWidgets?.length">
                    <div>
                        <img style="height: 122px;" [src]="'assets/images/EmptyDashboard.png'" alt="">
                    </div>
                    <div style="font-size: 1.2rem;"> Create A Widget To Compare</div>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="workSpaceData">
        <ucp-workspace [(workSpaceData)]="workSpaceData" [activeTab]="activeTab?.workspace_id" [footArrowDropDown]="footArrowDropDown"
            (workSpaceEmitter)="workSpaceEmitterData($event)"></ucp-workspace>
    </div>
</div>
<div *ngIf="loaders?.showMap">
    <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>