.plot_map {
  min-height: calc(100vh - 55x);
  max-height: calc(100vh - 55px);
  height: calc(100vh - 55px);
  overflow-y: hidden;
  overflow-x: hidden;
}


.text {
  padding-left: 10px;
  margin-bottom: 0px !important;
}

.dropdown-item:hover {
  color: black;
  text-decoration: none;
  background-color: #E5E5E5;
}

.toggle-text.cursor-pointer {
  display: flex;
}

.toggle-button-text {
  margin-left: 10px;
}

.toggle-text {
  display: flex;
  font-size: 16px;
}

.show-toggle-buttons {
  cursor: pointer;

  .showpopover {
      display: inline-block;
      position: absolute;
      background-color: #ffffff;
      padding-top: 20px;
      border-radius: 12px;
      margin-top: 5px;
      right: 1rem;
      width: max-content;
      height: 10rem;
  }

  .toggleOptions {
      max-width: 7rem !important;

  }

  .container {
      position: relative;
      height: 30px;

  }

  .toggle-text {
      color: black;
  }

  .cursor-pointer.material-icons-outlined.closeicon {
      color: black;
      float: right;
      cursor: pointer;
  }

  .toggle-class-contents {
      padding: 25px 0px 0px 5px;

  }

}

.show-all-filters {
  cursor: pointer;

  .showfilterpopover {
      display: inline-block;
      position: fixed;
      background-color: #ffffff;
      border-radius: 12px;
      overflow-y: auto;
      left: 0;
      width: 20%;
      height: calc(100vh - 110px);   
      z-index: 1;  
      overflow: hidden !important; 
  }

  .containers {
      position: relative;
  }

  .toggle-text {
      color: black;
  }

  .cursor-pointer.material-icons-outlined.closeicon {
      float: right;
      color: #6C6C6C !important;
  }

  .filter-class-contents {
      color: black;
  }

  .filter-label {
      color: black;
      font-size: 16px;
      text-align: start;
      width: 50%;
  }


  .filter-contents {
      position: relative;
      margin-left: 3rem;
  }

  .accordionLine {
      margin-top: 25px;
      cursor: pointer;
  }

  .vDataLabel {
      font-size: 1rem;
      padding-bottom: 6px;
      cursor: pointer;

      .fa.fa-angle-right,
      .fa.fa-angle-down {
          font-size: 30px;
          float: right;
          cursor: pointer;
      }
  }

  .accor_dian {
      margin-left: 10px;
      padding: 0;
      color: black;
      font-size: 0.95rem;
  }

  span.material-icons-outlined.down-arrow, span.material-icons-outlined.up-arrow {
      position: absolute;
      right: 15px;
  }

  .badge_bg_prop {
      background-color: #AAAAAA;
  }

  .description, .multi-description {
      cursor: pointer;
      color: black;
      opacity: 50%;
      
  }

  .radio-buttons {
      display: contents;
  }
  
  .cursor-pointer.material-icons-outlined.closeicon{
      color : black !important;
  }

}



.mb_point5rem {
  margin-bottom: 0.5rem;
}
.show-all-filters-dfm {
  max-height: calc(100vh - 180px) !important;
  height: calc(100vh - 180px) !important;
  overflow-y: auto;
}
span.label {
  font-size: 9px;
}
// .show-filters {
//     background-color: #2A363A;
//     color: #fff;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     height: 27.5px;
//     min-height: 27.5px;
// }
// .visible-filters-label {
//     white-space: nowrap;
//     max-width: 100%;
//     text-overflow: ellipsis;
//     overflow-x: hidden;
//     margin: 0px !important;
//     font-size: 9px;
//     padding: 0px !important;
//     display: block;
//     margin-top: 6px !important;
// }

.vis-nav-tab {
  padding: 0.5rem;
}

.pin_class {
  width: 14%;
  margin-right: 10px;
}



.w-auto {
  min-width: auto;
}

.top-header-filters {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth !important;    
  .vis-filters {
      border: 1px solid #ffffffbf;
      background-color: #00000052;
      color: white; 
      border-radius: 20px;
      padding: 0px 12px;
      width: fit-content;
      height: 30px;
      margin-right: 6px;
      display: flex;
      white-space: nowrap;
      .vis-label {
          font-size: 0.85rem;
      }
      .vis-value {
          font-family: 'Inter-Medium';
          white-space: nowrap;
      }
  }
  &::-webkit-scrollbar {
      display: none;
  }
}


.tabs-section {
  .tab-border {
      color: black !important;
      background: #00000029 0% 0% no-repeat padding-box;
      text-align: center;
      height: 1.9rem;
  }
  .filter-tabs {
       width: -webkit-fill-available;
       flex-wrap: nowrap;
       display: inline-flex;
       white-space: nowrap;
       justify-content: center;
  }

  .tab-border.active {
      .nav-link.active {
          font-family: 'Inter-Medium';
          background-color: white;
          color: black !important;
          margin-top: 2.5px !important;
          margin-bottom: 2.5px !important;
          padding-top: 2.5px !important;
          padding-bottom: 2.5px !important;
          border-radius: 5px;
          max-width: 10rem;
          min-width: fit-content;
      }
  }

  li.each-info-tab:first-child {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;

      &.active {
          .nav-link.active {
              margin-left: 2.5px;
          }
      }
  }

  li.each-info-tab:last-child {
      border-top-right-radius: 5px ;
      border-bottom-right-radius: 5px ;

      &.active {
          .nav-link.active {
              margin-right: 2.5px;
          }
      }
  }

  .nav-link:focus,
  .nav-link:hover {
      color: #346cb0;
  }

  .nav-link.active {
      color: black ;
  }

  .active>.nav-link {
      color: black ;
  }

  li.each-info-tab:not(:last-child) {
      .nav-link.active {
          border-right: 1px solid #767677;
          padding-right: 10px !important;
      }
  }
}

.show-parameters {
  margin-left: 8%;
  color: black;
  opacity: 50%;
  font-size: 12px;
}
.display-options {
  border-bottom: 1px solid #E5E5E5
}
.acc_ordian-tabs {
  font-size: 0.95rem;
}
.arrow-left{
  margin-top: 8px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 30px;

}
.arrow-right{
  margin-top: 8px;
  width: 35px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
}
.hidden{
  display: none;
}
.filter-header-btn {
  width: 50%;
  flex-wrap: nowrap;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filter-head{
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
  border-bottom: 0.1rem solid #E5E5E5;
}
.spinner-border{
  margin-top: -4px !important;
  margin-right: 10px;
}
.li-filter{
  width: 9rem;
}
.radio-label{
  display: flex;
  align-items: center;
}
.form-check-input[type=radio] {
  margin-top: 7px;
}
.hz-scroll{
  display: contents;
}
input[type=checkbox], input[type=radio] {
  padding: 0.6em;
}
.form-check-input {
  margin-top: 0.1rem;
}
.handler-item {
  width: 100%;
  // height:0.5rem;
  padding: 0;
  cursor: row-resize;
  height: 15px !important;
  position: relative;
  text-align: center;
  background: white;
  .drag-handle-svg {
    position: absolute;
    top: -4px;
  }
}

.wrapper {
  /* Use flexbox */
  display: flex;
  flex-direction: column;
}

.map-main-div, .table-main-div {

  /* Use box-sizing so that element's outerwidth will match width property */
  box-sizing: border-box;

  /* Allow box to grow and shrink, and ensure they are all equally sized */

}


.table-main-div {
  flex: 1;
}
