<div>
    <!-- <div *ngIf="!hideOriginal" [id]="'original_sec'" class="rectangle {{isSimulate ? 'pr-2' : 'w-100'}} "
            [ngStyle]="style" mwlResizable [validateResize]="validate" [enableGhostResize]="true"
            [resizeSnapGrid]="{ left: 1, right: 1 }" (resizeEnd)="onResizeEnd($event)" mwlResizeHandle
            [resizeEdges]="{ right: true, left: false }">
            <ucp-maps class="{{isSimulate ? 'Original' : ''}}" [uniqueId]="'original'" *ngIf="mapData" [mapOptions]="mapOptions" [showTable]="displayTable" [agGridOptions]="aggridData" [mapData]="mapData"
                [title]="isSimulate ? 'Original' : ''"></ucp-maps>
        </div>
        <div class=" m-0 p-0 {{hideOriginal ? 'w-100' : 'w-50'}} pos_relative" [id]="'simulated_sec'" style="position: relative;" *ngIf="isSimulate">
            <ucp-maps *ngIf="mapData" [mapOptions]="mapOptions" class="{{'Simulated'}}" [uniqueId]="'simulated'" [showTable]="displayTable" [agGridOptions]="simulateAggridData" [mapData]="mapData" [title]="'Simulated'"></ucp-maps>
        </div> -->

    <div class="plot_map visualize-component-plot-map open-unpinned">
        <ng-container>
            <div class="maps-component wrapper" style="height: 100%; width: 100%;">
                <div id="map-container" class="map-main-div" style="height: 100%;">
                    <ucp-maps *ngIf="mapData" style="height: 100%" [mapOptions]="mapOptions" [mapData]="mapData"
                    [showLegends]="true" [showPolyLineTooltip]="true" [legends]="legends"
                        [showPolylines]="true" [mapType]="true" [tooltipOptions]="tooltipOptions"
                        [showTilt]="true" [selectedLegends]="selectedLegends"></ucp-maps>
                </div>
                <ng-container *ngTemplateOutlet="handlerAndTable"></ng-container>
            </div>
        </ng-container>
    </div>
    <ng-template #handlerAndTable style="position: absolute;min-height: 20%;max-height: 70%;">
        <div class="handler handler-item {{refreshingTable ? 'd-none' : ''}}" data-direction="vertical"
            [ngStyle]="{'bottom' : tableHeight}">
            <img class="drag-handle-svg invert" src="assets/svgs/drag-handle.svg" alt="">
        </div>
        <div class="table-main-div" style="width: 100%;position:absolute;bottom: 0;"
            [ngStyle]="{'height' : tableHeight}">
            <ng-container
                *ngIf="(aggridData && aggridData?.columnDefs?.length) && !refreshingTable">
                <ucp-ag-grid-table [agGridOptions]="aggridData" [infiniteScroll]="aggridData?.infiniteScroll || false" [enableAutoResize]="true"
                    [theme]="theme" [Height]="'100%'" [tableState]="tableState"></ucp-ag-grid-table>
            </ng-container>
            <ng-container
                *ngIf="(!aggridData || !aggridData?.columnDefs?.length)">
                <div class="h-100 w-100 no-data-label background-white">
                    <em class="inter-medium" *ngIf="!aggridData; else noColumnsData">
                        Select a survey to visualize the data.
                    </em>
                    <ng-template #noColumnsData>
                        <em class="inter-medium" *ngIf="!aggridData?.columnDefs?.length">
                            No Data Available.
                        </em>
                    </ng-template>
                </div>
            </ng-container>
            <ng-container *ngIf="!mapOptions?.selectedVisualType">
                <div class="h-100 w-100 no-data-label background-white">
                    <em class="inter-medium" *ngIf="!agGridOptions; else noColumnsData">
                        No Data Available.
                    </em>
                    <ng-template #noColumnsData>
                        <em class="inter-medium" *ngIf="!agGridOptions?.columnDefs?.length">
                            No Data Available.
                        </em>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </ng-template>
    <div class="row mt-2 m-0">
        <div class="text-center">
            <button class="btn btn-primary mx-2 px-5">Simulate</button>
            <button class="btn btn-outline-primary mx-2 px-5">Reset</button>
            <!-- <button class="btn btn-link mx-2">{{hideOriginal ? 'Show' :
                'Hide'}}
                Original</button> -->
        </div>
    </div>
</div>
<!-- <div class="simulate-component plot_map" [id]="'simulateComponent'">
    <div class="h-100 m-0 p-0 {{isSimulate ? ' w-47point5 pr-1' : 'w-100'}}" *ngIf="!hideOriginal" mwlResizable [validateResize]="validate" [id]="'original_sec'"
    [resizeEdges]="{ right: true, left: false}" [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)">
        <ucp-maps class="{{isSimulate ? 'Original' : ''}}" [showTable]="displayTable" [title]="isSimulate ? 'Original' : ''"></ucp-maps>
    </div>
    <div class="h-100 m-0 p-0 {{hideOriginal ? 'col-12' : 'col w-47point5 pl-1'}}" [id]="'simulated_sec'" *ngIf="isSimulate">
        <ucp-maps class="{{'Simulated'}}" [showTable]="displayTable" [title]="'Simulated'"></ucp-maps>
    </div>
    <div class="row mt-2 m-0">
        <div class="text-center">
            <button class="btn btn-primary mx-2 px-5" (click)="simulate()">Simulate</button>
            <button class="btn btn-outline-primary mx-2 px-5" (click)="reset()">Reset</button>
            <button class="btn btn-link mx-2" *ngIf="isSimulate" (click)="originalConf()">{{hideOriginal ? 'Show' : 'Hide'}} Original</button>
        </div>
    </div>
</div> -->
<div *ngIf="loaders?.showMap">
    <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>