<h6 class="m-3">Projects</h6>
<div class="m-3 projects-component" *ngIf="!loader?.project && agGridOptions?.rowData?.length else noProjectData">
    <ucp-ag-grid-table [agGridOptions]="agGridOptions" [clickableColumns]="agGridOptions?.clickableColumns"
        (aggridEmitter)="aggridEmitter($event)">
    </ucp-ag-grid-table>
</div>
<ng-template #noProjectData>
    <h6 class="m-3 text-center" *ngIf="!loader?.project">No Data Available.</h6>
</ng-template>

<div *ngIf="loader?.project">
    <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>